.page{
    width:90%;
    margin-left: auto;
    margin-right: auto;
    background-color: #000938;
    color: #ffffff;
    padding: 15px;
}

.title-home, .sub-title-home{
    text-align: center
}

.explicative{
    margin-top: 20px;
    background-color: #c1c7e8;
    border-radius: 10px;
    padding: 15px;
    color: #000000;
}

.tournament-choose{
    margin-top: 20px;
    display: inline-block;
    width: 45%;
    background-color: #c1c7e8;
    border-radius: 10px;
    padding: 15px;
    color: #000000;
    vertical-align:top;
    margin-right: 5%;

}

