<div class="page">
    <h1 class="title-home">Badminton Salad Tournament</h1>
    <h4 class="sub-title-home">Logiciel de gestion de tournois amicaux de badminton</h4>
    <div class="explicative">
        Ceci est un paragraphe explicatif qui doit pouvoir être changé dynamiquement grâce à la base de données
    </div>
    <div class="tournament-choose">
        <h2>TOURNOI DEJA CRÉE ?</h2>
        <form>
            <div class="form-group">
                <label>Choix du tournoi:</label>
                <select class="form-control">
                </select>
            </div>
            <button class="btn btn-success">GO</button>
        </form>
    </div>
    <div class="tournament-choose">
        <h2>CREATION D'UN NOUVEAU TOURNOI</h2>
        <form>
            <div class="form-group">
                <label>Nom:</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label>Nombre de terrains:</label>
                <input type="number" class="form-control">
            </div>
            <div class="form-group">
                <label>Nombre de sets gagnants:</label>
                <input type="number" class="form-control">
            </div>
            <div class="form-group">
                <label>Nombre de points par set:</label>
                <input type="number" class="form-control">
            </div>
            <div class="form-group">
                <label>Deux points d'écart ?</label>
                <select class="form-control">
                    <option>oui</option>
                    <option>non</option>
                </select>
            </div>
            <div class="form-group">
                <label>Score maximal si deux points d'écart:</label>
                <input type="number" class="form-control">
            </div>
            <div class="form-group">
                <label>Bonus victoire:</label>
                <input type="number" class="form-control">
            </div>
            <div class="form-group">
                <label>Malus défaite:</label>
                <input type="number" class="form-control">
            </div>
            <button class="btn btn-success">CREER</button>
        </form>
    </div>
</div>


